<form method="POST">
  <div class="form-group d-flex row mb-2">
    <label for="title" class="form-label">
      <div class="mb-2 fw-bold">Title</div>
      <input
        type="TEXT"
        value="<%= blog.title %>"
        name="title"
        class="form-control"
        id="title"
        placeholder="Enter Title"
        autocomplete="off"
      />
    </label>
  </div>
  <div class="form-group d-flex row mb-2">
    <label for="body" class="form-label">
      <div class="mb-2 fw-bold">Body</div>
      <textarea
        name="body"
        class="form-control"
        id="body"
        cols="30"
        rows="10"
        placeholder="Enter Body"
      >
<%= blog.body %></textarea
      >
    </label>
  </div>
  <div class="form-group mb-2">
    <%- include(locals.LayoutPages._csrf) %>
    <button type="submit" class="btn btn-primary"><%= page %> Blog</button>
    <a href="/blogs" class="btn btn-danger">Back</a>
  </div>
</form>
