</head>
<body>
  <%- include('./partials/_navbar.ejs') %>
    <% if (flash.success.length) { %>
      <div class="d-flex justify-content-center align-items-center mt-4">
        <div class="alert alert-success w-75" role="alert"><%= flash.success %></div>
      </div>
    <% } else if (flash.error.length) { %>
      <div class="d-flex justify-content-center align-items-center mt-4">
        <div class="alert alert-danger w-75" role="alert"><%= flash.error %></div>
      </div>
    <% } %>