<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="../assets/stylesheets/bootstrap.min.css"
      integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65"
      crossorigin="anonymous"
    />
    <title>Document</title>
  </head>
  <body>
    <div class="container">
      <h1>Animals</h1>
      <table>
        <thead>
          <th>Legs</th>
          <th>Eyes</th>
          <th>Name</th>
        </thead>
        <tbody>
          <% for (const animal of data) { %>
          <tr>
            <td><%= animal.legs %></td>
            <td><%= animal.eyes %></td>
            <td><%= animal.name %></td>
          </tr>
          <% } %>
        </tbody>
      </table>
    </div>
  </body>
</html>
