<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../assets/stylesheets/bootstrap.min.css">
    <title>Animals</title>
  </head>
  <body>
    <div class="container">
      <h1>Animals</h1>
      <table class="table mb-4">
        <thead>
          <th>Legs</th>
          <th>Eyes</th>
          <th>Name</th>
        </thead>
        <tbody>
          <% for (const animal of animals) { %>
          <tr>
            <td><%= animal.legs %></td>
            <td><%= animal.eyes %></td>
            <td><%= animal.name %></td>
          </tr>
          <% } %>
        </tbody>
      </table>
      <form action="/animals" method="POST">
        <div class="form-group mb-2">
          <label for="legs" class="w-">Legs</label>
          <input type="number" name="legs" class="form-control ml-2" id="legs" placeholder="Enter legs" autocomplete="off">
        </div>
        <div class="form-group mb-2">
          <label for="eyes" class="w-">Eyes</label>
          <input type="number" name="eyes" class="form-control ml-2" id="eyes" placeholder="Enter legs" autocomplete="off">
        </div>
        <div class="form-group mb-2">
          <label for="name" class="w-">Name</label>
          <input type="text" name="name" class="form-control ml-2" id="name" placeholder="Enter name" autocomplete="off">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
  </body>
</html>
