
<form method="POST">
    <div class="form-group d-flex row mb-2">
      <label for="blog_id" class="form-label">
        <div class="mb-2 fw-bold">Blog Id</div>
        <select name="blog_id" class="form-select">
          <% blogs.forEach(blog => { %>
            <option value="<%= blog.id %>"><%= blog.title %></option>
          <% }) %>
        </select>
      </label>
    </div>
    <div class="form-group d-flex row mb-2">
      <label for="body" class="form-label">
        <div class="mb-2 fw-bold">Body</div>
        <input type="TEXT" value="<%= comment.body %>"
        name="body" class="form-control form-control" id="body"
        placeholder="Enter Body" autocomplete="off">
      </label>
    </div>
    <div class="form-group mb-2">
      <%- include(locals.LayoutPages._csrf) %>
      <button type="submit" class="btn btn-primary">Submit Comment</button>
      <a href="/comments" class="btn btn-danger">Back</a>
    </div>
  </form>
</form>
