<%- include('../_layouts/_head.ejs') %>
<title>404 - Page Not Found</title>
<%- include('../_layouts/_mid.ejs') %>
<div class="container text-center mt-5">
  <h1 class="mb-5">Error 403 - Forbidden</h1>

  <h5 class="mb-5">You do not have permission to perform this action.</h5>
  <a onclick="history.back()" class="btn btn-danger">Go Back</a>
</div>
<%- include('../_layouts/_tail.ejs') %>
