<%- include('../_layouts/_head.ejs') %>
<title>404 - Page Not Found</title>
<%- include('../_layouts/_mid.ejs') %>
<div class="container text-center mt-5">
  <h1 class="mb-5">Error 404 - The page you requested could not be found</h1>

  <h5 class="mb-5">You may have mistyped the address or the page may have moved.</h5>
  <a onclick="history.back()" class="btn btn-danger">Go Back</a>
</div>
<%- include('../_layouts/_tail.ejs') %>
