<%- include('../_layouts/_head.ejs') %>
<title>About Page</title>
<%- include('../_layouts/_mid.ejs') %>
<%- include('../_layouts/_tail.ejs') %>

<div class="container mt-4">
  <h2>This is the About Page</h2>
</div>
