<%- include('../_layouts/_head.ejs') %>
<title>About Page</title>
<%- include('../_layouts/_mid.ejs') %> <%- include('../_layouts/_tail.ejs') %>

<div class="container mt-4">
  <h2>About Node JS MVC Scaffold Generator</h2>

  <p class="lead">
    Node JS MVC Scaffold Generator is a tool for quickly creating web
    applications using the Model-View-Controller (MVC) architecture. It is a
    Node JS package that provides a command-line interface (CLI) for generating
    boilerplate code for controllers, models, views, and routes, which helps
    developers to start their projects faster and with less effort.
  </p>
  <p>
    The tool is designed to be customizable, so it allows developers to define
    their own templates and configurations for generating the code. It also
    includes support for popular Node JS frameworks such as Express and Hapi,
    making it easier to integrate with existing projects.
  </p>
  <p>
    Node JS MVC Scaffold Generator is built with a focus on simplicity and ease
    of use, making it suitable for both beginners and experienced developers.
    Its user-friendly interface and extensive documentation make it easy to get
    started with and learn.
  </p>
  <p>
    Whether you're starting a new project or adding new features to an existing
    one, Node JS MVC Scaffold Generator can save you time and effort by
    generating the necessary code for you. Try it out today and see how it can
    improve your development workflow!
  </p>
</div>
