<%- include('../_layouts/_head.ejs') %>
<title>Home Page</title>
<%- include('../_layouts/_mid.ejs') %> <%- include('../_layouts/_tail.ejs') %>

<div class="container mt-4">
  <h2>Welcome to Node JS MVC Scaffold Generator</h2>
  <p class="lead">
    Node JS MVC Scaffold Generator is a powerful tool for creating web
    applications using the Model-View-Controller (MVC) architecture. With its
    user-friendly command-line interface, you can easily generate boilerplate
    code for controllers, models, views, and routes, and get your project up and
    running in no time.
  </p>
  <p>
    Whether you're new to web development or an experienced developer, Node JS
    MVC Scaffold Generator can help you save time and effort by automating the
    tedious parts of the development process. Its customizable templates and
    support for popular Node JS frameworks make it easy to integrate with your
    existing projects and get the results you need.
  </p>
  <p>
    So why wait? Download Node JS MVC Scaffold Generator today and see how it
    can improve your development workflow!
  </p>
  <p class="d-flex justify-content-center">
    <a
      href="https://www.npmjs.com/package/mvc-scaffold-generator"
      class="btn btn-primary mt-3"
      >Get Started</a
    >
  </p>

  <p>
    In this example, the homepage includes a call-to-action button that links to
    the package's page on npmjs.com, encouraging users to download and start
    using it right away. The use of the Bootstrap classes "lead" and "btn" helps
    to highlight important information and make the button stand out,
    respectively.
  </p>
</div>
