<%- include('../_layouts/_head.ejs') %>
<title>Search Results</title>
<%- include('../_layouts/_mid.ejs') %> <%- include('../_layouts/_tail.ejs') %>

<div class="container mt-4">
  <h2>Search Results</h2>
  <code>
    <pre><%- results %></pre>
  </code>
</div>
