<%- include('./_head.ejs') %>
<div class="container">
  <h1>Login User</h1>
  <form action="/users/login<%= typeof referer !== 'undefined' ? '?referer=' + referer : '' %>" method="POST">
    <div class="form-group mb-2">
      <label for="email" class="form-label">Email</label>
      <input
        type="email"
        name="email"
        class="form-control"
        id="email"
        placeholder="Enter Email"
        autocomplete="off"
      />
    </div>

    <div class="form-group mb-2">
      <label for="password" class="form-label">Password</label>
      <input
        type="password"
        name="password"
        class="form-control"
        id="password"
        placeholder="Enter Password"
        autocomplete="off"
      />
    </div>
    <button type="submit" class="btn btn-primary">Login</button>
    <a href="/users/register" class="btn btn-outline-success">Register</a>
    <a href="/users" class="btn btn-danger">Back</a>
  </form>
</div>
<%- include('../_layouts/_tail.ejs') %>
