<%- include('./_head.ejs') %>
<div class="container">
  <h1>Register User</h1>
  <form action="/users" method="POST">
    <div class="form-group mb-2">
      <label for="first_name" class="form-label">First Name</label>
      <input
        type="text"
        name="first_name"
        class="form-control"
        id="first_name"
        placeholder="Enter First Name"
        autocomplete="off"
      />
    </div>

    <div class="form-group mb-2">
      <label for="last_name" class="form-label">Last Name</label>
      <input
        type="text"
        name="last_name"
        class="form-control"
        id="last_name"
        placeholder="Enter Last Name"
        autocomplete="off"
      />
    </div>

    <div class="form-group mb-2">
      <label for="email" class="form-label">Email</label>
      <input
        type="email"
        name="email"
        class="form-control"
        id="email"
        placeholder="Enter Email"
        autocomplete="off"
      />
    </div>

    <div class="form-group mb-2">
      <label for="password" class="form-label">Password</label>
      <input
        type="password"
        name="password"
        class="form-control"
        id="password"
        placeholder="Enter Password"
        autocomplete="off"
      />
    </div>

    <div class="form-group mb-2">
      <label for="passwordConfirmation" class="form-label"
        >Confirm Password</label
      >
      <input
        type="password"
        name="passwordConfirmation"
        class="form-control"
        id="passwordConfirmation"
        placeholder="Confirm Password"
        autocomplete="off"
      />
    </div>

    <button type="submit" class="btn btn-primary">Register</button>
    <a href="/users" class="btn btn-danger">Back</a>
  </form>
</div>
<%- include('../_layouts/_tail.ejs') %>
